<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
        <p th:utext="${msg}">message.</p>

        <h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>
        <h2>3. Visit <a th:href="@{/about}">Normal page</a></h2>
    </div>

    <div id="app">
        <p v-bind:id="idA">{{idA}}</p>
        <p v-bind:class="classA">{{classA}}</p>

        <span v-for="customer in customers">
            <ul>
                <li>{{customer.email}}</li>
            </ul>

        </span>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>


<script th:inline="javascript">
    var customer = [[${customers}]];
    console.log(customer);

    new Vue({
        el: '#app',
        data: {
            idA: 10,
            classA: 'container',
            customers: customer
        }
    });

</script>
<script>



</script>

</body>
</html>