<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Project1 Main 화면 </h1>
    </div>

    <!--vue 연동 부분-->
    <div id="app">
        <span v-for="customer in customers">
            <ul>
                <li>{{customer.email}}</li>
            </ul>

        </span>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>


<script th:inline="javascript">
    var customer = [[${customers}]];
    console.log(customer);

    new Vue({
        el: '#app',
        data: {
            idA: 10,
            classA: 'container',
            customers: customer
        }
    });

</script>
<script>



</script>

</body>
</html>